body {background-color:#06ebf9}

.fast {
   animation: nameAppear 2s;
   text-align: center;
}
.slow {
   animation: nameAppear 4s;
   text-align: center;
}
.fast:hover {
   animation: nameMove 2s;
   text-align: center;
}
.slow:hover {
   animation: nameMove 4s;
   text-align: center;
}
@keyframes nameAppear {
 0% {
   transform: scale(0.1);
   opacity: 0;
   top: 0;
 }
 50% {
   transform: scale(2);
   opacity: 1;
   top: -10px;
 }
 100% {
   transform: scale(1);
   top: 0;
   text-align: center;
   font-family: calibri;
   text-shadow: 2px 2px 2px #ef54af;
 }
}
@keyframes nameMoveove {
 0% {
   transform: scale(0.1);
   opacity: 0;
   top: 0;
 }
 50% {
   transform: scale(2);
   opacity: 1;
   top: -10px;
 }
 100% {
   transform: scale(1);
   top: 0;
 }
}
.distortion {
  display: block;
    margin: auto;
    width: 40%;
  
}
.distortion:hover {
  display: block;
    margin: auto;
    width: 40%;
  transform: 
    rotate(280deg) 
    skew(-60deg,-70deg)
    scale(.75) 
    translateY(200px) 
    translateX(50px);
}
#cameraspin {
  display: block;
    margin: auto;
    width: 20%;
  padding:10px;
  font-size:160px;
  color:rgba(74,6,249,1);
  transition:all 2s ease-out 0.1s;
}

#cameraspin:hover {
  color:rgba(249,6,218,0.5);
  transform: 
    rotate(970deg) 
    skew(20deg,-70deg)
    scale(0.8) 
    translateY(-200px) 
    translateX(-500px);
}