
body {font-family: 'Merriweather Sans', sans-serif;
		background-color: #dee8f7;}
header {padding-top: 40px; padding-bottom: 10px;}

img {border: 10px solid #1f4276;margin:20px;}

aside {background-color: #95BDF8;}

figcaption {text-align: left; padding-left: 100px; padding-top: 270px;}

.google {text-align:center; font-family: 'Lobster', cursive; color:#330000; text-shadow:2px 2px 0px #9966cc;}

.google2 {font-family: 'Lobster', cursive; color:#330000; text-shadow:.8px .8px 0px #9966cc;}

.home-img  .change-photo{background:url(../images/me_iguana.jpg) no-repeat top center; border: 10px solid #1f4276; height: 300px; width: 300px;}
.home-img:hover  .change-photo{background:url(../images/me_iguana2.jpg) no-repeat top center;}
.me { padding-bottom: 30px;}
